{
  "Output"  : [
    "LineAPI",
    "TelegramAPI"
  ],

  "SQL" : "sqlite",

  "LineAPI" : {
    "Path"        : "/linebot",
    "Secret"      : "",
    "AccessToken" : ""
  },

  "TelegramAPI" : {
    "Token" : ""
  },

  "Command" : {
    "custom_commands" : {
      "rules" : "This is example rule!",
      "code" : "https://pastebin.com/"
    }
  }
}
