{
    "Output"  : [
        "LineAPI",
        "TelegramAPI"
    ],
    "SQL" : "sqlite",
    "LineAPI" : {
        "Path"        : "/linebot",
        "Secret"      : "",
        "AccessToken" : ""
    },
    "TelegramAPI" : {
        "Token" : ""
    }
}
